.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 32px;
  align-items: center;

  &__botao{
    height: 80px;
    width: 351px;
    border-radius: 37.5px;
    background-color: #FE652B;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    cursor: pointer;
    &:hover {
      background-color: rgba(75, 105, 253, 0.99);;
    }
  }
  &__imagem{
    background-image: url('/components/Rodape/sacolas.png');
    background-size: contain;
    width: 237px;
    height: 183px;
  }
}


@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    justify-content: space-around;
    margin-top: 16px;
    gap: 24px;
  
    &__botao{
      height: 64px;
      width: 155px;
      font-size: 16px;
    }
    &__imagem{
      width: 127px;
      height: 98px;
    }
  }

}