.cabecalho {
  display: flex;
  justify-content: space-around;
  padding-top: 120px;
  &__logo{
    background-image: url("/components/Cabecalho/logo.png");
    width: 351px;
    height: 117px;
  }
  &__participante {
    z-index: 1;
  }

}


@media screen and (max-width: 800px) {
  .cabecalho {
      padding-top: 60px;
      flex-direction: column;
      align-items: center;
      &__logo {
        background-image: url("/components/Cabecalho/logo-pequeno.png");
        width: 235px;
        height: 199px;
      }
  }

}